@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
	font-family: Fraunces;
	src: url("../fonts/Fraunces_72pt-Black.ttf");
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: hsl(30, 38%, 92%);
}
.main-container {
	display: flex;
	flex-direction: row;
	width: fit-content;
	max-width: 600px;
	align-self: center;
}
.left-column {
	width: 250px;
	background-image: url("../images/image-product-desktop.jpg");
	background-size: cover;
	border-radius: 10px 0 0 10px;
}
.right-column {
	padding: 20px;
	width: fit-content;
	background-color: hsl(0, 0%, 100%);
	border-radius: 0 10px 10px 0;
}
.small-text {
	font-size: 14px;
	font-family: Montserrat;
	color: hsl(228, 12%, 48%);
	width: 210px;
	margin: 20px 0;
}
.description-text {
	line-height: 25px;
}
.heading-text {
	line-height: 34px;
	font-family: Fraunces;
	color: hsl(212, 21%, 14%);
	width: 210px;
}
.price-container {
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 0 0 20px 0;
}
.discount-price {
	font-family: Fraunces;
	color: hsl(158, 36%, 37%);
	font-size: 28px;
}
.previous-price {
	font-family: Montserrat;
	font-family: 700;
	color: hsl(228, 12%, 48%);
	text-decoration: line-through;
}
.cart-button {
	display: flex;
	justify-content: center;
	gap: 10px;
	color: hsl(0, 0%, 100%);
	padding: 10px 0;
	width: 100%;
	background-color: hsl(158, 36%, 37%);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.cart-button:hover {
	background-color: hsl(158, 37%, 20%);
}
@media (max-width: 475px) {
	body {
		display: block;
	}
	.main-container {
		flex-direction: column;
		width: 100%;
	}
	.left-column {
		height: 40vh;
		width: 100%;
		background-image: url("../images/image-product-mobile.jpg");
		border-radius: 0;
	}
	.right-column {
		width: 100%;
		border-radius: 0px;
	}
	.small-text {
		width: 100%;
	}
	.description-text {
		font-size: 18px;
		line-height: 25px;
	}
	.heading-text {
		line-height: 36px;
		color: hsl(212, 21%, 14%);
		width: 60%;
	}
	.cart-button {
		padding: 15px 0;
	}
	.cart-button:hover {
		background-color: hsl(158, 37%, 20%);
	}
}

/* .attribution {
	font-size: 11px;
} */
/* .attribution a {
	color: hsl(228, 45%, 44%);
} */
